html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgb(46, 46, 46);
    margin: 2vw;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#bockerspree {
    aspect-ratio: 1/1;
    width: 45vw;
    position: relative;
}

#axe {
    aspect-ratio: 1/2;
    width: 15vw;
    position: absolute;
    left: 42vw;
    top: 4vw;
    z-index: 2;

    transition: transform 0.3s ease-in;
    transform-origin: 20% 80%;
}

#staley {
    aspect-ratio: 1/1;
    width: 45vw;
    position: relative;
}

#eyes {
    /* color: darkred; */
    font-size: 5vw;
    font-family: Arial;
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
    top: 19vw;
    right: 4.5vw;
    visibility: hidden;
}
